

body {
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: white;
    text-align: center;
    color: black;
   
}

h1,
h2 {
    text-align: center;
    font-size: 50px;
}

h2 {
    color:#ce973e;
    font-size: 25px;
}

.home-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#main-menu {
    display: inline;
}

ul {
    font-size: 20px;
}