

body {
    background-color: rgba(158, 114, 179, 0.418);
    text-align: center;
   
}

h1,
h2 {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
}

h2 {
    font-size: 25px;
}

.home-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

#main-menu {
    display: inline;
}

ul {
    font-size: 20px;
}